body{}
.panel_
{	
	display: inline-block;
	padding:0px;
}
.jigsaw_panel_ div
{
	display: inline-block;
	margin: 3px;
	padding: 0px;
	background-repeat: no-repeat;
	transition: background-position .5s ease-out;
}
.panel_ div.clearfix
{
	margin:0px;
	height:1px;
	width: 100%;
	display: block;
	padding:0px;
}